/* ======== Global style start ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  /* justify-content: center; */
}
/* ======== Global style end ========= */
/* ========= header section start ============= */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px;
  background-color: #fff;
}
.nav-list {
  display: flex;
  gap: 75px;
}
.nav-list li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #242424;
  transition: all 0.4s ease;
}
.nav-list li a:hover {
  color: #b88e2f;
}
.header-action {
  display: flex;
  gap: 45px;
}
.header-action li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #242424;
  transition: all 0.4s ease;
}
.header-action li a:hover {
  color: #b88e2f;
}
/* ========= header section end ============= */
/* ========= hero section start ========= */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero-background img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  bottom: 16%;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #fff3e3;
  padding: 30px;
  margin-right: 58px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 640px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.hero-tagline {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #333333;
  padding-top: 30px;
}
.hero-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  color: #b88e2f;
}
.hero-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #333333;
  padding: 16px 25px 48px 0;
}
.hero-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  border: 1px solid #b88e2f;
  background-color: #b88e2f;
  padding: 25px 72px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.hero-link:hover {
  color: #b88e2f;
  background-color: transparent;
}
/* ========= hero section end ========= */
/* ========= Browse range start ========== */

.range-info {
  padding: 45px 0;
  margin: 0 auto;
  text-align: center;
}
.range-info h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #333333;
}
.range-info p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #666666;
}

.range-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  padding: 20px 0;
}
.range-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.range-item img {
  width: 100%;
  border-radius: 8px;
}
.range-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333333;
  padding: 20px 0;
}
/* ========= Browse range end ============ */
/* ============= our product section start =============== */
.product-section {
  padding: 30px 0 60px 0;
}
.product-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-header h2 {
  font-size: 40px;
  font-weight: 600;
  color: #3a3a3a;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 32px 0;
}
.product-card__item {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
}
.product-card__image {
  position: relative;
  display: flex;
}
.product-card__image img {
  width: 100%;
}
.product-card__discount {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.product-card__discount--sale {
  background-color: #e97171;
}

.product-card__discount--new {
  background-color: #2ec1ac;
}
.product-card__details {
  background-color: #f4f5f7;
  padding: 16px 16px 30px 16px;
}
.product-card__details h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #3a3a3a;
  padding-bottom: 8px;
}
.product-card__details p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #898989;
}
.product-card__price {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 8px;
}
.product-card__price--discount {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #3a3a3a;
}
.product-card__price--orginal {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #b0b0b0;
  text-decoration: line-through;
}
.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* display: none; */
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s;
}
.product-card__item:hover .product-card__overlay {
  opacity: 1;
  background-color: rgb(58, 58, 58, 0.7);
}
.product-card__add-to-cart a {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #b88e2f;
  background-color: #fff;
  padding: 12px 48px;
  transition: all 0.4s ease;
}
.product-card__add-to-cart a:hover {
  color: #fff;
  background-color: #b88e2f;
}
.product-card__actions {
  display: flex;
  gap: 15px;
  text-align: center;
  padding-top: 24px;
}
.product-card__actions a {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  transition: all 0.4s ease;
}
.product-card__actions a:hover {
  color: #b88e2f;
}
.product-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-footer a {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #b88e2f;
  border: 1px solid #b88e2f;
  padding: 12px 70px;
  transition: all 0.4s ease-in-out;
}
.product-footer a:hover {
  color: #fff;
  background: #b88e2f;
}

/* ============= our product section end =============== */
/* =========== room carousel section start ============= */
.room-section {
  background: #fcf8f3;
  padding: 44px 0;
}
.room-section .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.room-info {
  padding: 100px 42px 100px 0;
}
.room-info h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #3a3a3a;
}
.room-info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #616161;
  padding-bottom: 25px;
}
.room-info a {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  background-color: #b88e2f;
  color: #fff;
  border: 1px solid #b88e2f;
  padding: 12px 36px;
  transition: all 0.4s ease-in-out;
}
.room-info a:hover {
  color: #b88e2f;
  background-color: transparent;
}
.swiper {
  width: 600px;
  height: 300px;
}
.carousel {
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
}
.carousel-slides {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}
.slide {
  min-width: 40%;
  height: 580px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  flex-shrink: 0;
}
.slide:not(.active) {
  min-width: calc(60% / 3);
  height: 480px;
  opacity: 0.7;
  filter: brightness(0.8);
}
.slide.active {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slide-info {
  background: rgba(255, 255, 255, 0.9);
  padding: 32px;
}
.slide-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.slide-number {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 5px;
}
.slide-title {
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 10px;
}
.carousel-nav {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20%;
}
.nav-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn.active {
  background-color: #b88e2f;
}

/* =========== room carousel section end ============= */
/* ======== gallery section start ============ */
.gallery-section {
  padding: 67px 0 50px 0;
  background: #fff;
}
.gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-info span {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}
.gallery-info h2 {
  font-size: 40px;
  font-weight: 700;
  color: #3a3a3a;
  padding-bottom: 15px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.gallery-grid img:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/* ======== gallery section end ============ */
/* =========== footer section start ============= */
.footer-info{
  display: flex;
  gap: 70px;
  padding: 50px 0;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.footer-logo h3{
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 35px;
}
.footer-logo address{
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
.footer-info h4{
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  padding-bottom: 30px;
}
.footer-link ul li, .footer-help ul li{
  padding: 15px 0;
}
.footer-link ul li a, .footer-help ul li a{
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.footer-newsletter input{
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px 20px;
}

.footer-newsletter form{
  display: inline-flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.footer-newsletter button{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  color: #000000;
  cursor: pointer;
  transition: color 0.4s ease, border-color 0.4s ease;
}
.footer-newsletter button:hover{
  color: #b88e2f;
  border-bottom: 1px solid #b88e2f;
}
.footer-bottom{
  padding: 35px 0;
}
.footer-bottom p{
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
/* =========== footer section end ============= */
